header{
    & > div{
        width: 92%;
        height: 70px;
        margin: 0 auto;
        display: flex;

        & > a{
            & > img{
                height: 62px;
                width: 169px;
                margin-top: 4px;
            }
        }

        .form{
            width: 667px;
            height: 50px;
            display: flex;
            justify-content: space-between;
            margin-top: 8px;
            margin-left: 26px;
            margin-right: 110px;

            .text{
                width: 600px;
                height: 46px;
                border: 1px solid rgb(234, 235, 238);
                border-radius: 5px;
                margin-right: 2px;
            }
            .text::placeholder{
                font-size: 14px;
                padding-left: 25px;
            }
            .text:focus{
                text-decoration: none;
            }
            & > button{
                width: 52px;
                height: 50px;
                background-color: #ffffff;
                border: 1px solid rgb(234, 235, 238);
                border-radius: 5px;
                cursor: pointer;
                & > img{
                    width: 20px;
                    height: 20px;
                }
            }
        }

        .right{
            width: 200px;
            height: 40px;
            display: flex;
            justify-content: space-between;
            margin-top: 15px;

            & > a{
                text-decoration: none;
                .profile{
                    width: 100px;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;

                    & > img{
                        margin-top: 6px;
                        height: 25px;
                        width: 22px;
                    }
                    & > p{
                        color: $text-color;
                        font-family: $firago-regular;
                        font-weight: bold;
                        font-size: 14px;
                        line-height: 14px;
                        margin-top: 15px;
                    }
                }
                .basket{
                    width: 58px;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;

                    & > img{
                        margin-top: 4px;
                        height: 32px;
                    }
                    & > p{
                        color: $text-color;
                        font-family: $firago-regular;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 14px;
                        margin-top: 15px;
                    }
                }
            }
        }
    }
}

section{
    background-color: #F5F5F5;
    .s-1{
        height: 369px;
        #slider{
            display: flex;
            justify-content: center;
            align-items: center;

            .container{
                width: 1600px;
                margin: auto;

                .subcontainer{
                    width: 100%;
                    margin: auto;

                    .slider-wrapper{
                        position: relative;

                        #tns1-ow{
                            & > button{
                                display: none;
                            }
                        }

                        .controller{
                            top: 166px;
                            left: 330px;
                            display: flex;
                            justify-content: space-between;
                            position: absolute;
                            z-index: 1;

                            .controls{
                                width: 900px;
                                display: flex;
                                justify-content: space-between;

                                & > button{
                                    z-index: 1;
                                    padding: 2px;
                                    width:  45px;
                                    height: 45px;
                                    cursor: pointer;
                                    border-radius: 6px;
                                    outline: none;
                                    transition: 0.38s ease-in-out;
                                    border: 0px;
                                    background-color: rgba(0, 0, 0, 0.3);
                                    
                                    & > i{
                                        z-index: 1;
                                        color: white;
                                        font-size: 0.75rem;
                                    }
                                }
                                & > button:hover{
                                    background-color: $orange;
                                }
                            }
                        }
                        .my-slider{
                            position: relative;
                            & > div{
                                .slide{
                                    .slide-img{
                                        width: 100%;
                                        height: 369px;
                                        background-position: center;
                                        background-size: cover;
                                        cursor: pointer;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        transition: 0.5s;

                                    }
                                    .slide-img:hover{
                                        box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.15) inset;
                                        transform: scale(1);
                                        
                                    }

                                    .img-1{
                                        background-image: url(../images/index/s-1/1.png);
                                    }
                                    .img-2{
                                        background-image: url(../images/index/s-1/2.png);
                                    }
                                    .img-3{
                                        background-image: url(../images/index/s-1/3.png);
                                    }
                                    .img-4{
                                        background-image: url(../images/index/s-1/4.png);
                                    }
                                    .img-5{
                                        background-image: url(../images/index/s-1/5.png);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .nav{
            width: 227px;
            height: 369px;
            display: flex;
            background-color: #ffffff;
            flex-direction: column;
            transform: translate(43px,-369px);

            & > a{
                height: 40px;
                width: 100%;
                color: #0a3251;
                border-bottom: 0.15px solid rgba(0, 0, 0, 0.05);
                
                & > div{
                    display: flex;
                    margin-left: 20px;
                    
                    & > i{
                        height: 20px;
                        margin-top: 10px;
                    }
                    & > p{
                        font-size: 12px;
                        font-family: $firago-regular;
                        line-height: 40px;
                    }
                    .m12{
                        margin-right: 20px;
                    }
                    .m14{
                        margin-right: 16px;
                    }
                    .m16{
                        margin-right: 14px;
                    }
                    .m20{
                        margin-right: 12px;
                    }
                }
            }
            & > :hover{
                background-color: $hover-white;
            }
            .main-nav-button{
                height: 49px;
                background-color: $orange;
                text-decoration: none;

                & > div{
                    & > i{
                        margin-top: 16px;
                        margin-right: 15px;
                    }
                    & > p{
                        color: #ffffff;
                        font-weight: bold;
                        font-size: 16px;
                        font-family: $firago-regular;
                        line-height: 49px;
                    }
                }
            }

            .right-nav{
                width: 400px;
                height: 100%;
                background-color: aqua;
                position: absolute;
                left: 227px;
                display: none;
            }
        }
        
    }

    .s-2{
        width: 93%;
        margin: 0 auto;

        .hot , .brands{
            .title{
                margin-top: 15px;
                padding-bottom: 26px;
                display: flex;
                width: 400px;
                & > div{
                    width: 42px;
                    height: 42px;
                    background-color: #ffffff;
                    padding-top: 10px;
                    padding-left: 12.5px;
                    border-radius: 8px;
                    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.08);
                    margin-right: 15px;

                }
                & > h3{
                    line-height: 42px;
                    font-family: $firago-regular;
                    font-weight: bold;
                    color: #093251;
                    font-size: 17px;
                }
            }
        }
        .hot{
            .list{
                width: 100%;
                padding-bottom: 10px;
                .biggie{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    .box{
                        width: 218px;
                        height: 269px;
                        background-color: #ffffff;
                        box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.02);
                        border-radius: 8px;
                        margin-bottom: 20px;
                        
                        & > img{
                            margin-left: 30px;
                            margin-top: 15px;
                            width: 157px;
                            height: 157px;
                        }
                        .info{
                            margin: 0 auto;
                            width: 198px;
                            height: 87px;

                            text-align: center;
                            & > h4{
                                max-width: 175px;
                                margin: 0 auto;
                                height: 30px;
                                font-size: 15px;
                                font-family: $firago-regular;
                                font-weight: bold;
                                color: #0a3251;
                                margin-bottom: 5px;
                            }
                            & > h5{
                                line-height: 27px;
                                font-size: 20px;
                                font-family: $firago-regular;
                                font-weight: bold;
                                color: #0a3251;
                                margin-bottom: 5px;
                            }
                            & > div{
                                margin: 0 auto;
                                width: 100px;
                                font-size: 12px;
                                font-family: $firago-regular;
                                font-weight: 600;
                                .s1{
                                    color: #FE5F55;
                                }   
                                .s2{
                                    color: #7B838E;
                                }
                            }
                        }
                    }
                }
            }
        }
        .brands{
            .list{
                #slider{
        
                    .container{
        
                        .subcontainer{
                            width: 100%;
                            margin: auto;
        
                            .slider-wrapper{
                                position: relative;
                                width: 100%;
        
                                #tns1-ow{
                                    & > button{
                                        display: none;
                                    }
                                }
        
                                .controller{
                                    width: 100px;
                                    position: absolute;
                                    right: 10px;
                                    top: -65px;
        
                                    .controls{
        
                                        & > button{
                                            transform: skew(-10deg);
                                            width: 36px;
                                            height: 31px;
                                            border: solid 2px #e8e8e8;
                                            background-color: #ffffff;
                                            border-radius: 4px;

                                            & > i{
                                                
                                            }
                                        }
                                        & > button:hover{
                                            
                                        }
                                    }
                                }
                                .my-slider2{
                                    position: relative;
                                    & > div{
                                        .slide{
                                            .slide-img{
                                                width: 222px;
                                                height: 72px;
                                                background-position: center;
                                                background-size: cover;
                                                cursor: pointer;
        
                                            }
                                            .slide-img:hover{
                                                box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.15) inset;
                                                transform: scale(1);
                                                
                                            }
        
                                            .img-1{
                                                background-image: url(../images/index/s-2/brands/0124554_apple.png);
                                            }
                                            .img-2{
                                                background-image: url(../images/index/s-2/brands/0124554_apple.png);
                                            }
                                            .img-3{
                                                background-image: url(../images/index/s-2/brands/0124554_apple.png);
                                            }
                                            .img-4{
                                                background-image: url(../images/index/s-2/brands/0124554_apple.png);
                                            }
                                            .img-5{
                                                background-image: url(../images/index/s-2/brands/0124554_apple.png);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}

